body {
    font-family: Arial, sans-serif;
    background-color: #222;
    margin: 0;
    color: #fff;
     background-image: url('Untitled8_20250830222701.png');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
        height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
}
 .topbar {
     background-color: #000000;
     padding: 12px 0;
     text-align: left;
     border-radius: 0 0 0px 0px;
     display: flex;
     justify-content: left;
     gap: 24px;
     position: relative;
}

  .logo{
     height: 40px;
     size: 150px;
     margin-right: 26px;
     margin-left: 16px;
}
 .topbar a {
     color: #fff;
     text-decoration: none;
      padding: 12px 24px;
     display: inline-block;
     border-radius: 0px;
     transition: 0.3s;
}
 .topbar a:hover {
     background-color: #444;
     border-radius: 5px;
}
 h1 {
     font-size: 100px;
     color: #000000;
     font: 100;  
     text-align: center;
     font-style: initial ;

}
 p {
     text-align: center;
     color:#000000
}
 html, body {
     height: 100%;
 }


 .widget {
    background: rgba(30, 30, 30, 0.85);
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    padding: 32px 24px;
    margin: 12px 0;
    max-width: 300px;
    width: 200%;
    text-align: center;
}


.widget h1 {
    margin-top:0; 
    
}
.widget p {
    color: #ccc;
    font-size: 14px;
    line-height: 1.5;
}

.widget button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: "background-color" 0.3s

}
.widget button:hover {
    background-color: #0056b3;
    
}
